Repository trendmicro/cloudone-community, pull requests merged in 2022-09, with the labels that each got.

#35 feat: automate slack sns subscription
  File-Storage-Security/Deployment/Post-Scan-Action-Automations/aws-notification-automation/README.md
  File-Storage-Security/Deployment/Post-Scan-Action-Automations/aws-notification-automation/diagram.png
  File-Storage-Security/Deployment/Post-Scan-Action-Automations/aws-notification-automation/python-aws-automate-subscription.py
  File-Storage-Security/Deployment/Post-Scan-Action-Automations/aws-notification-automation/requirements.txt
Labels: New Project :tada:, AWS :cloud:

#39 feat: NS managed service cloudwatch panel
  Network-Security/Integration/aws-cloudwatch-panel/ns-managed-service-endpoint-cw/Network_Security_MS_CloudWatch.yml
  Network-Security/Integration/aws-cloudwatch-panel/ns-managed-service-endpoint-cw/README.md
Labels: New Project :tada:, AWS :cloud:

#38 chore: Quality updates to the project aws-tf-cloud-account-connector
  Common/Cloud-Account/aws-tf-cloud-account-connector/IAM/variables.tf
Labels: Enhancement :sparkles:, AWS :cloud:

#36 feat: Add cdktf project
  Common/Integration/aws-cdktf-securityhub-integration/README.md
  Common/Integration/aws-cdktf-securityhub-integration/__tests__/main-test.ts
  Common/Integration/aws-cdktf-securityhub-integration/cdktf.json
  Common/Integration/aws-cdktf-securityhub-integration/jest.config.js
  Common/Integration/aws-cdktf-securityhub-integration/main.ts
  Common/Integration/aws-cdktf-securityhub-integration/package-lock.json
  Common/Integration/aws-cdktf-securityhub-integration/package.json
  Common/Integration/aws-cdktf-securityhub-integration/setup.js
  Common/Integration/aws-cdktf-securityhub-integration/tsconfig.json
Labels: New Project :tada:, AWS :cloud:

#45 fix: Add External ID argument
  File-Storage-Security/Deployment/aws-python-deploy-to-all-existing-s3/README.md
  File-Storage-Security/Deployment/aws-python-deploy-to-all-existing-s3/deploy.py
Labels: Documentation :book:, Bug-Fix :syringe:, AWS :cloud:
