Repository trendmicro/cloudone-community, pull requests merged in 2023-02, with the labels that each got.

#72 bug(fix): fix package-lock.json syntax
  Conformity/Integration/aws-cdk-conformity-to-s3/package-lock.json
Labels: Bug-Fix :syringe:, dependencies

#58 feat: add Conformity GCP deployment on terraform
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/gcp.tfvars
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/outputs.tf
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/permissions.tf
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/provider.tf
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/role.tf
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/IAM/variables.tf
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/LICENSE
  Conformity/Cloud-Account/gcp-tf-cloud-account-connector/README.md
Labels: New Project :tada:, GCP :cloud:

#73 feat: updating code for cross-account usage
  File-Storage-Security/Deployment/aws-python-deploy-to-all-existing-s3/README.md
  File-Storage-Security/Deployment/aws-python-deploy-to-all-existing-s3/deploy.py
  File-Storage-Security/Deployment/aws-python-deploy-to-all-existing-s3/exclude.txt
Labels: Enhancement :sparkles:, AWS :cloud:
